/*공통*/
body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 14px;
}

body::after {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../static/images/bgi.jpeg");
    background-size: contain;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 0.3;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.nav_btn_group {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 200px;

}

.btn-nav {
    margin-right: 8px;
}

.btn-nav.acv{
}

.title-box {
    display: block;
    margin: 80px auto 60px auto;
    text-align: center;
}

img {
    height: 300px;
    object-fit: cover;
}

/*nav1-content*/
.region {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 30px;
}

.region .item {
    margin-right: 8px;
}

.form-group {
    margin-bottom: 0;
}

.submit {
    width: 70px;
    height: 36px;
    margin: 0 15px 0 15px;
}

.title-box1 {
    display: block;
    margin: 80px auto 60px auto;
    text-align: center;
}

/*nav2-content*/
.row {
    display: flex;
    flex-wrap: wrap;
    column-count: 4;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.card {
    width: 250px;
    padding: 8px;
    margin-bottom: 8px;
}

.card-text {
    margin-bottom: 5px;
    font-weight: 400;
}

.card-title2 {
    font-weight: 500;
    font-size: 16px;
}

/*nav3-content*/
.blog {
    display: flex;
    width: 1100px;
    margin: auto;
}

.blog_img {
    display: block;
    width: 400px;
}

.blog:first-child {
    margin-top: 130px;
}

.description {
    /*white-space: nowrap;*/
    overflow: scroll;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 4.8em;
}


/*nav4-content*/
#review-form {
    display: none;
}

.review-form {
    margin: 30px auto 50px;
    width: 600px;
}

.btn-submit {
    margin-top: 10px;
}

.written-review {
    margin-top: 10px;
    width: 100%;
}

.card-title {
    margin-right: 8px;
}

.review-title {
    display: flex;
    align-items: baseline;
}

.written-review .btnGroup {
    display: flex;
}

.btn-more, .btn-modify {
    margin-right: 5px;
}

.btn-delete {
    margin-right: 30px;
}

.form-label {
    font-weight: 500;
}

#pw_confirm {
    display: none;
}

#list {
    margin-bottom: 100px;
}

.wrap .tab_cont .nav_content {
    display: none;
}
.wrap .tab_cont{}
.pw-box{
    display: none;
}

.edit_area{
    display: none;
    width: 80%;
    height: 80px;
    resize: none;
    padding: 3px;
    margin-bottom: -20px;

    position: relative;
    top:-12px;
}