<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <style>
        .nav {
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;
            margin-right: 200px;

        }
        .nav .item {
            margin-right: 8px;
        }
        .row{
            width: 1000px;
            margin: 100px auto;
        }

        .card {
            width: 250px;
            padding: 8px;
            margin-bottom: 8px;
        }
        .card-text {
            margin-bottom: 5px;
        }
    </style>
    <script>
        // function show {
        //     $.ajax({
        //     type: "GET",
        //     url: " URL ",
        //     data: {},
        //     success: function (response) {
        //         console.log(response)
        //     }
        // })
        // }

    </script>
</head>
<body>
    <div class="nav">
        <button type="button" class
                ="btn item btn-outline-secondary">유기견 보호센터 찾기
        </button>
        <button type="button" class="btn item btn-outline-secondary">유기견 공고 조회</button>
        <button type="button" class="btn item btn-outline-secondary">블로그</button>
        <button type="button" class="btn item btn-outline-secondary">정보 공유</button>
    </div>

    <div class="row row-cols-4 row-cols-md-2 g-4 ">
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/08/202108181608480.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <a href="###" class="card-title" style="font-weight: bold">전북-임실-2021-00106</a>
                <hr>
                <p class="card-text"><span style="color: gray">품종</span> 믹스견, 암컷</p>
                <p class="card-text"><span style="color: gray">체중</span> 15kg</p>
                <p class="card-text"><span style="color: gray">발견</span> 임실군 정월리</p>
                <p class="card-text"><small class="text-muted">2021.08.18~2021.09.02</small></p>
            </div>
        </div>
    </div>

</body>
</html>