<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>경기도 유기견보호센터 정보검색</title>

    <meta property="og:title" content="유기견호보센터 정보검색"/>
    <meta property="og:description" content="경기도 지역 센터 정보를 한눈에, 후기까지"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/main.css">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<div class="nav_btn_group">
    <button id="nav1" type="button" class="btn btn-nav btn-outline-secondary">유기견 보호센터 찾기</button>
    <button id="nav2" type="button" class="btn btn-nav btn-outline-secondary">유기견 공고 조회</button>
    <button id="nav3" type="button" class="btn btn-nav btn-outline-secondary">블로그</button>
    <button id="nav4" type="button" class="btn btn-nav btn-outline-secondary">정보 공유</button>
</div>
<div class="nav1_content">
    <div class="container">
        <div class="region">
            <div class="form-group col-md-4">
                <select id="input-sido" class="form-control">
                    <option selected>시/도</option>
                    <option value="경기도">경기도</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <select id="input-sigun" class="form-control">
                    <option selected>시/군/구</option>
                    <option value="가평군">가평군</option>
                    <option value="고양시">고양시</option>
                    <option value="과천시">과천시</option>
                    <option value="광명시">광명시</option>
                    <option>광주시</option>
                    <option>구리시</option>
                    <option>군포시</option>
                    <option>김포시</option>
                    <option>남양주시</option>
                    <option>동두천시</option>
                    <option>부천시</option>
                    <option>성남시</option>
                    <option>수원시</option>
                    <option>시흥시</option>
                    <option>안산시</option>
                    <option>안성시</option>
                    <option>안양시</option>
                    <option>양주시</option>
                    <option>양평군</option>
                    <option>여주시</option>
                    <option>연천군</option>
                    <option>오산시</option>
                    <option>용인시</option>
                    <option>의왕시</option>
                    <option>의정부시</option>
                    <option>이천시</option>
                    <option>파주시</option>
                    <option>평택시</option>
                    <option>포천시</option>
                    <option>하남시</option>
                    <option>화성시</option>
                </select>
            </div>
            <button onclick="search()" type="button" class="btn submit btn-secondary btn-sm">검색</button>
        </div>
        <br>
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">관할구역</th>
                <th scope="col">보호센터명</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="center-list">
            </tbody>
        </table>
    </div>
</div>
<div class="nav2_content">
    <div class="container">
        <div class="title-box">
            <img class="img-title" src="../static/images/title2-3.png" style="height: 180px;">
        </div>

        <div class="row row-cols-4 row-cols-md-2 g-4" id="dogs-list">
            <!--리스트들어갈곳-->
        </div>
    </div>
</div>
<div class="nav3_content">
    <div class="container">
        <div class="card blog mb-3" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../static/images/blog_1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title text-primary">유기견보호소 그저 사랑스럽네요</h5>
                        <h6 class="card-subtitle mb-2 text-muted publisher">published by AND U</h6>
                        <p class="card-text description">예전에는 유기견이라고하면 안쓰러운 얼굴과 좋지 않은 상태, 아픈 몸 등의 이미지로만 생각했어요. 그런데 관리가 잘
                            되고
                            있는 유기견보호소를 보니 꼭 그렇지 많은 않다는 것을 알게 되었어요. 예전에는 유기견이라고하면 안쓰러운 얼굴과 좋지 않은 상태, 아픈 몸 등의 이미지로만 생각했어요.
                            그런데
                            관리가 잘 되고 있는 유기견보호소를 보니 꼭 그렇지 많은 않다는 것을 알게 되었어요.</p>
                        <p class="card-text date"><small class="text-muted">2021.06.01</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav4_content">
        <div class="container">
            <button type="button" onclick="openClose()" class="btn btn-submit btn-primary">후기작성</button>

            <div id="review-form" class="review-form">
                <div class="mb-3">
                    <label class="form-label">작성자</label>
                    <input id="nickname" type="email" class="form-control"
                           placeholder="별칭을 입력하세요.">
                </div>
                <div class="mb-3">
                    <label class="form-label">제목</label>
                    <input id="title" type="title" class="form-control"
                           placeholder="30자 이내로 입력하세요.">
                </div>
                <div class="mb-3">
                    <label class="form-label">review</label>
                    <textarea id="comment" class="form-control" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">비밀번호를 입력하세요. 비밀번호는 작성된 후기를 수정 혹은 삭제할 때 사용됩니다.</label>
                    <input id="password" type="password" class="form-control">
                </div>
                <button onclick="makeList()" type="button" class="btn upload btn-primary">등록</button>
            </div>

            <div id="list">
                <!--후기추가될부분-->
            </div>
        </div>
    </div>
</body>
</html>
